.time {
  opacity: 0;
}
.fadeIn {
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1;
}
.fadeOut {
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 0;
}
